#! /bin/bash
# Setup environmental variables for pkg-building system
# Build scripts expect this script to be in /tools/etc

# Change the following if desired.
export SRCDIR=/sources
export BSTAGE=${SRCDIR}/BUILD
export PSTAGE=${SRCDIR}/PKGS
export HSTTRPL="aarch64-linux-musleabihf"
## Tested:
## aarch64-linux-musleabihf
## x86_64-linux-musl
## i686-linux-musl
export ARCH="aarch64"
## Tested:
## aarch64
## x86_64
## i686
export KARCH="arm64"
## Tested:
## arm64
## x86
export PKG_SUFFIX="${ARCH}-mlfs.txz"

if [ "$2" != "" ]; then
        export MJ="-j$2"
else
        export MJ=""
fi

echo "Unpacking $1 ..." &&
tar xf $1 
