#! /bin/bash
# Setup environmental variables for auto-building system
# Build scripts expect this script to be in $MLFS/sources/scripts

export MLFS_TARGET="aarch64-mlfs-linux-musleabihf"
# Tested:
# aarch64-mlfs-linux-musleabihf
# x86_64-mlfs-linux-musl
# i686-mlfs-linux-musl
export MLFS_ARCH="arm64"
# Tested:
# arm64
# x86
export MLFS_CPU="armv8-a"
# Tested:
# armv8-a
# x86-64
# i686
export MLFS_HOST="$(echo $MACHTYPE | \
                 sed "s/$(echo $MACHTYPE | cut -d- -f2)/cross/")"

if [ "$2" != "" ]; then
        export MJ="-j$2"
else
        export MJ=""
fi

echo "Unpacking $1 ..." &&
tar xf $1


